@import "tailwindcss";

:root {
  font-size: 10px;
}

@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --color-spacegray: oklch(1 0 0 / 25.1%);
  --animate-planet-translate: planet-translate 10s linear infinite;
  --animate-cat1-translate: cat1-translate 26s linear infinite;
  --animate-cat2-translate: cat2-translate 16s linear infinite;
}

.font-decoration {
  @apply inset-0 text-spacegray font-black uppercase font-[Inter] tracking-normal leading-[normal] text-shadow-[14px_10px_4px] text-shadow-black
}

/* Animations des planètes */

@keyframes planet-translate {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Animations des chats en background */ 


@keyframes cat1-translate {
  0% {
    transform: translateX(-400%) rotate(0deg);
  }
  100% {
    transform: translateX(800%) rotate(360deg);
  }
}

@keyframes cat2-translate {
  0% {
    transform: translateX(-400%) translateY(-10%) rotate(0deg);
  }
  100% {
    transform: translateX(800%) translateY(-40%) rotate(360deg);
  }
}